<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/add-book.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <%- include('../includes/header.ejs') %> 
    <main class="center">
        <form action="/admin/add-book" method="POST">
            <div class="inp-holder">
                <input type="text" name="name" placeholder="Name" autocomplete="">
                <span></span>
            </div>
            <div class="inp-holder">
                <input type="url" name="imgUrl" placeholder="Img URL">
                <span></span>
            </div>
            <div class="inp-holder">
                <textarea name="describtion" rows="4" placeholder="Describtion"></textarea>
                <span></span>
            </div>
            <div class="inp-holder">
                <input type="number" name="price" placeholder="Price">
                <span></span>
            </div>
            <input type="submit" value="Add">
        </form>
    </main>
    <script src="/js/main.min.js"></script>
</body>
</html>