<header id="main-header">
    <h1 class="logo">Books Shop</h1>
    <nav>
        <ul>
            <li>
                <a href="/" class="<%= path == '/' ? 'active' : '' %>">Shop</a>
            </li>
            <li>
                <a href="/books" class="<%= path == '/books' ? 'active' : '' %>">Books</a>
            </li>   
            <li>
                <a href="/cart" class="<%= path == '/cart' ? 'active' : '' %>">Cart</a>
            </li>   
            <li>
                <a href="/admin/add-book" class="<%= path == '/admin/add-book' ? 'active' : '' %>">Add book</a>
            </li>
        </ul>
    </nav>
</header>