$main-color: dodgerblue;
$danger-color: #f00;
$good-color: #4CAF50;

main {
    color: #111;
    // height: 100%;

    .container {
        display: flex;
        flex-direction: row;
        margin: 15px;
        overflow: hidden;
        border-bottom: 2px solid $main-color;
        border-radius: 8px;
        box-shadow: 0 0 10px #aaa;


        img {
            width: 50%;
        }

        .details {
            display: flex;
            flex-direction: column;
            padding: 15px;

            hr {
                margin: 15px 0;
            }

            span {
                font-size: 16pt;
                font-weight: bold;
            }

            .actions {
                display: flex;
                flex-direction: row;

                button, a {
                    background-color: $main-color;
                    color: #fff;
                    border: 2px solid $main-color;
                    padding: 10px 15px;
                    margin-right: 10px;
                    border-radius: 4px;
                    transition: .4s;
                    cursor: pointer;
                    outline: none;
                    font-size: 14pt;
                    box-shadow: 0 0 10px #aaa;
                    text-decoration: none;
                    
                    &:hover {
                        background-color: transparent;
                        color: $main-color;
                    }

                    &.delete {
                        background-color: $danger-color;
                        border-color: $danger-color;

                        &:hover {
                            color: $danger-color;
                            background-color: transparent;
                        }
                    }
                    
                    &.add-to-cart {
                        background-color: $good-color;
                        border-color: $good-color;
                        
                        &:hover {
                            color: $good-color;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}