<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Add Book
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/add-book.css")
        link(rel="icon", href="/img/icon.png")
    body
        header
            h1.logo Book Shop
            nav
                ul
                    li
                        a(href="/") Shop
                    li
                        a(href="/books") books
                    li
                        a.active(href="/admin/add-book") Add book
        main.center
            form(action="/admin/add-book", method="POST")
                input(type="text", name="name", placeholder="Nmae", autocomplete="")
                input(type="number", name="price", placeholder="Price")
                input(type="submit", value="Add")
                