<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Books Shop
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", href="/img/icon.png")
    body
        header
            h1.logo Books Shop
            nav
                ul
                    li
                        a.active(href="/") Shop
                    li
                        a(href="/books") books
                    li
                        a(href="/admin/add-book") Add book
        main.center
            h1 Welcome to the shop.