:root {
    --main-color: dodgerblue;
}

::placeholder {
    color: var(--main-color);
    color: #aaa;
}

main.center {
    width: 30%;
}

form {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 0 10px #aaa;
}

.inp-holder {
    position: relative;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 5px #ddd;
}


input, textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    padding: 7px 7px;
    margin: 0;
    color: var(--main-color);
    outline: none;
    font-size: 12pt;
}

.inp-holder span {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: dodgerblue;
    transition: .4s;
}

.inp-holder:hover span,
.inp-holder:focus-within span {
    width: 100%;
}

.inp-holder:hover ::placeholder,
.inp-holder:focus-within ::placeholder {
    color: dodgerblue;
}

input[type="submit"] {
    display: inline-block;
    width: fit-content;
    border: 1px solid var(--main-color);
    background-color: #fff;
    border-radius: 3px;
    color: var(--main-color);
    padding: 7px 15px;
    margin: 0;
    cursor: pointer;
    transition: .2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--main-color);
    color: #fff;
}