:root {
    --main-color: dodgerblue;
}

main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    width: 20%;
    /* --cards : 5; */
    /* width: calc((100% - var(--cards) * 20px) / var(--cards)); */
    /* float: left; */
    background-color: #fff;
    border: 1px solid var(--main-color);
    margin: 10px;
    box-shadow: 0 0 10px #aaa;
    cursor: pointer;
    transition: .3s;
    /* overflow: hidden; */
}

.card.active {
    float: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5, 1.3);
    z-index: 2;
    cursor: default;
}

.card:hover {
    box-shadow: 0 0 10px var(--main-color);
}

.card:hover img {
    transform: scale(1.1);
    transition: .4s;
}

.card.active:hover img {
    transform: none;
}

.card h2,
.card h3 {
    text-align: center;
    padding: 5px 0;
}

.card .img-holder {
    overflow: hidden;
}

.card img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .8;
    z-index: 1;
    display: none;
    transition: .3s;
    cursor: pointer;
}

.overlay.active {
    display: block;
}

.to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 2em;
    color: #fff;
    background-color: dodgerblue;
    border-radius: 50%;
    box-shadow: 0 0 10px #aaa;
    transition: .3s;
}

.to-top span {
    padding: 20px 10px;
}

.to-top:hover {
    background-color: #fff;
    color: dodgerblue;
    box-shadow: 0 0 10px dodgerblue;
}