:root {
    --main-color: dodgerblue;
}

::-webkit-scrollbar {
    width: 0px;
    transition: .4s ease-in-out;
    
}

::-webkit-scrollbar:hover {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    transition: .4s ease-in-out;
}

::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 50px;
    transition: .4s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main.center {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > h1 {
    text-align: center;
}

header {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    transition: .3s;
}

header h1.logo {
    font-family: cursive;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #fff;
    user-select: none;
}

header nav ul {
    list-style: none;
    display: flex;
    height: 100%;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    /* transition: .3s; */
}

header nav ul li a:hover,
header nav ul li a.active {
    background-color: #fff;
    color: var(--main-color);
}