<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Shop</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <%- include('../includes/header.ejs') %> 
    <main class="center">
        <h1>Welcome to the shop.</h1>
    </main>
    <script src="/js/main.min.js"></script>
</body>
</html>